.footer{
    border-top: 0.5px solid black;
    background-color: #A97155;
    .footer_content{
        .footer_icons{
            padding: 2rem;
        }
    }
    .copyright{
        background-color: #BE8C63;
        margin: 0% 1rem;
        border-radius: 5px 5px 0% 0%;
    }
}